<script id="list-template" type="text/x-handlebars-template">
  <div class="list">
    <table>
      <thead>
      <tr>
        <td></td>
        <td>Street</td>
        <td>Longitude</td>
        <td>Latitude</td>
      </tr>
      </thead>
      <tbody class="items-container"></tbody>
    </table>
  </div>
</script>
