<script id="more-results-pub-sub-template" type="text/x-handlebars-template">
  <div class="more-results-pub-sub">
    <button class="load-more-pub-sub-btn">Load more... (PubSub)</button>
  </div>
</script>
