<script id="page-template" type="text/x-handlebars-template">
  <div class="top-container clearfix">
    <div class="map-container"></div>
    <div class="details-container"></div>
  </div>
  <div class="list-container"></div>
</script>
