<script id="page-template" type="text/x-handlebars-template">
  <div class="top-container clearfix">
    <div class="map-container">
      MAP PLACEHOLDER
    </div>
    <div class="details-container">
      DETAILS PLACEHOLDER
    </div>
  </div>
  <div class="list-container">
    LIST PLACEHOLDER
  </div>
</script>
